  <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <section class="Lrow">
        <div class="Lcol">
            <h1 th:text="${title}">Default Title</h1>
            <form method="POST" th:object="${cheese}">
                <div>
                    <label th:for="name">Cheese Name: </label>
                    <input th:field="*{name}"/>
                    <span th:errors="*{name}" class="error"></span>
                </div>
                <div>
                    <label th:for="description">Description: </label>
                    <input th:field="*{description}"/>
                    <span th:errors="*{description}" class="error"></span>
                </div>
                <div>
                    <div><label th:for="type">Type:</label></div>
                    <select th:field="*{type}">
                        <option th:each="cheeseType : ${cheeseTypes}"
                                th:text="${cheeseType.name}"
                                th:value="${cheeseType}"></option>
                    </select>
                    <span th:errors="*{type}" class="error"></span>
                </div>
                <div>
                    <div><label th:for="rating">Rating:</label></div>
                    <select th:field="*{rating}">
                        <option th:each="cheeseRating : ${cheeseRatings}"
                                th:text="${cheeseRating.stars}"
                                th:value="${cheeseRating}"></option>
                    </select>
                    <span th:errors="*{rating}" class="error"></span>
                </div>
                <br />
                <br />
                <button type="submit" value="Add Cheese">Add Cheese</button>
            </form>
        </div>
    </section>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>