<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<section class="Lrow">
    <div class="Lcol">
        <h1 th:text="${title}">Default Title</h1>

        <h1><span>Edit Cheese:  </span><span th:text="${cheese.getName()}"></span><span> (id=</span><span th:text="${cheese.getId()}"></span><span>)</span></h1>
        <form method="POST" action="/cheese/edit" th:object="${cheese}">
            <div>
                <input type="hidden" name="id" th:value="${cheese.getId()}"/>
                <label th:for="name">Cheese Name: </label>
                <input th:field="*{name}" th:value="${cheese.getName()}"/>
                <span th:errors="*{name}" class="error"></span>
            </div>
            <div>
                <label th:for="description">Description: </label>
                <input th:field="*{description}" th:value="${cheese.getDescription()}"/>
                <span th:errors="*{description}" class="error"></span>
            </div>
            <div>
                <div><label th:for="type">Type:</label></div>
                <select th:field="*{type}">
                    <option th:each="cheeseType : ${cheeseTypes}"
                            th:text="${cheeseType.name}"
                            th:value="${cheeseType}"
                            th:selected="${cheese.getType()}"></option>
                </select>
            </div>
            <div>
                <div><label th:for="rating">Rating:</label></div>
                <select th:field="*{rating}">
                    <option th:each="cheeseRating : ${cheeseRatings}"
                            th:text="${cheeseRating.stars}"
                            th:value="${cheeseRating}"></option>
                </select>
                <span th:errors="*{rating}" class="error"></span>
            </div>
            <br />
            <br />
            <button type="submit" value="Edit Cheese">Edit Cheese</button>
        </form>
    </div>
</section>
<footer>Copyright &copy; 2017 Landon Wiedenman</footer>
</body>
</html>