<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <section class="row">
        <div class="col">
            <h1 th:text="${title}">Default Title</h1>
            <p th:unless="${cheeses} and ${cheeses.size()}">
                No cheese found.  :( <a href="/cheese/add">Add some cheese now.</a>
            </p>
            <ul th:each="cheese : ${cheeses}">
                <li th:text="${cheese.key}"></li>
                <p th:text="${cheese.value}" class="cheese-description"></p>
            </ul>
        </div>
    </section>
</body>
</html>