<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <nav th:replace="fragments :: navigation"></nav>
    <section class="Lrow">
        <div class="Lcol">
            <h1 th:text="${title}">Default Title</h1>
            <hr/>
            <p th:unless="${cheeses} and ${cheeses.size()}">
                No cheese found.&nbsp;&nbsp;:(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/cheese/add">Add some cheese now.</a>
            </p>
            <ul th:each="cheese : ${cheeses}">
                <h3 th:text="${cheese.value.name} + '&nbsp;&nbsp;|&nbsp;&nbsp;' + ${cheese.value.rating.stars}"></h3>
                <span th:text="${cheese.value.type.name}" style="font-size: .8em;"></span>
                <span style="font-size: .8em;">&nbsp; Cheese</span><br/>

                <span th:text="${cheese.value.description}" class="cheese-description"></span><br/>

                <a th:href="@{'/cheese/edit/' + ${cheese.key}}" class="edit">edit</a>
                <hr/>
            </ul>
        </div>
    </section>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>