<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<section class="Lrow">
    <div class="Lcol">
        <h1 th:text="${title}">Default Title</h1>
        <form method="POST">
            <div th:each="cheese : ${cheeses}">
                <input type="checkbox" name="cheeseKey" class="Lcheckbox" th:value="${cheese.key}"/>
                <label th:text="${cheese.value.cheeseName}" style="color: orange;"></label>
                <span>&nbsp;&nbsp;</span><span th:text="${cheese.value.cheeseDescription}"></span>
            </div>
            <br />
            <button type="submit" value="Remove Cheese">Remove Cheese</button>
        </form>
    </div>
</section>
</body>
</html>