<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<section class="Lrow">
    <div class="Lcol">
        <h1 th:text="${title}">Default Title</h1>
        <hr/>
        <p th:unless="${user}">
            User not found.
        </p>
        <h3 th:text="${user.getUsername()}"></h3>
        <h5 th:text="${user.getEmail()}"></h5>
    </div>
</section>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>